/* .hud img{height: 100% !important;}
 .hud p{line-height: 0px !important;} */
.bd{background-color:red;height: 2px;
margin-top: -30px;width: 15%;}
  @media only screen and (max-width:600px){
 	.sm-w-50{
 		width: 300px;
 		margin: 0 auto;

 	}

 } 
  p{font-size: 10px;color:#8f9dbc;font-weight: bold;}
  .icon{height:15%;width:10%;}
  .btn{margin-top: 10px;background-image: linear-gradient(to right, red , yellow);border-radius: 50px; border:none;box-shadow: 2px 2px 2px black;}

.card{height:100%;box-shadow: 5px 5px 10px gray,-10px -10px 10px black ; margin-top: 15px; transition: 0.1s linear all;}
.card:hover{transform: translateY(-20px);} 
.card h4{font-weight: bold;text-shadow: 2px 2px 2px gray;}
.card h5{font-weight: bolder;font-size: 15px;}
.card h6{color:orange;font-weight: bold;}
.off{color:green;font-weight: bold;}
h5 i{transition: 1s ease all;}
 h5 i:hover{transform: rotate(360deg) !important;color:forestgreen !important;font-size: 25px;}
 img{transition: 1s ease all;}
 img:hover{transform: scale(1.2, 1.2);}
 



